/* slider styles */

.carousellayer::before {

    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;

}

.footer-section {
    background-color: #161616;
    padding: 100px;

}

@media screen and (min-width:976px) {

    .captionstyle h1 {
        font-size: 65px;
        font-weight: 600;
        line-height: 85px;

    }

    .captionstyle p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;

    }

    .carousel-caption {
        bottom: 180px;
    }


    .course-section {
        margin-top: 100px;
    }

    .registration-section {
        margin-top: 100px;

    }

    .faq-section {
        margin-top: 100px;
    }

    .company-section {
        margin-top: 100px;
        margin-bottom: 100px;
    }



}

@media screen and (min-width:768px) and (max-width:975px) {
    .captionstyle h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;

    }

    .captionstyle p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;

    }

}

@media screen and (max-width:767px) {
    .carousel-caption {
        margin: -30px;
    }

    .captionstyle h1 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;

    }

    .captionstyle p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

    }
}